@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&display=swap');

* {
    box-sizing: border-box;

    --u: 25px; /* unit */
    --brd: 5px; /* border radius */

    --drey: rgb(22, 22, 22);
    --lrey: rgb(66, 66, 66);
    --grey: rgb(44, 44, 44);

    --dwte: rgb(230, 230, 230);


    --hdrey: rgb(30, 30, 30);

    --tr-grey: rgba(44, 44, 44, 0.25);

}

/*>> cclasses */

.flex-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
    border: 1px solid var(--grey)
}

.hvr:hover {
    background-color: var(--hdrey);
}

/*>> pre */

body {
    background-color: black;
    margin: 0;
    background-image: url(back.png);
    background-size: 256px 256px;
}

p {
    margin: 0;
}

div, p, button {
    color: var(--dwte);
    font-family: 'Golos Text', sans-serif;
}

/*>> CSS */

#title {
    /*aspect-ratio: 3 / 1;*/
    max-height: 33vh;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--grey);
}

h1 {
    color: var(--dwte);
    font-size: 10vw;
    font-family: 'Golos Text', sans-serif;
    text-shadow: -35px -15px 0 var(--drey), 35px 15px 0 var(--drey);
}

#main-cont {
    margin: 0;
    margin-bottom: 0;
    margin-top: calc(2 * var(--u));
    background-color: var(--tr-grey);
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--brd);
    border-top-right-radius: var(--brd);
    padding: calc(1 * var(--u))
}

/*>> CARD */

.card {
    width: 100%;
    background-color: var(--drey);

    padding: calc(1 * var(--u));
    border-radius: var(--brd);
    margin-bottom: var(--u);
}

.image {
    background-color: green;
    width: 100%;
    display: block;

    border-top-left-radius: var(--brd);
    border-top-right-radius: var(--brd);

    border-bottom: 0;

    image-rendering: pixelated;
}

.desc {
    width: 100%;
    /*//height: calc(6 * var(--u));*/
    /*//padding: var(--u)*/
}

    .desc-title {
        background-color: var(--drey);
        width: 100%;
        /*//height: calc(5 * var(--u));*/
        border-bottom-left-radius: var(--brd);
        border-bottom-right-radius: var(--brd);
    }   
        .img-title {
            font-size: min(5vw, 65px);
            padding-top: var(--u);
            font-weight: 500;
        }

        .img-author {
            padding-top: calc(var(--u) * 0.25);
            padding-bottom: var(--u);
            font-size: min(2vw, 26px);
        }

    .desc-info {
        width: 100%;
        height: calc(2 * var(--u));

        display: flex;
    }   

        .desc-info * {
            font-size: 16px;
        }

        .desc-btn {
            border-top: 0;
            background-color: var(--drey);
            width: 100%;
            border-radius: var(--brd);
        }

        .trg-icon {
            margin-left: 5px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid var(--dwte);
        }

    .more-info {
        border-radius: var(--brd);
        border-top: none;

        overflow: hidden;
        transition:height 0.3s ease-in-out;
        height: auto;
    }

        .more-info p::first-letter {
            margin-left: calc(2 * var(--u));
        }

    .more-info-pad {
        padding: var(--u);
    }

/*>> FOOTER */
#footer-cont {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-button {
    display: block;
    width: calc(2 * var(--u));
    height: calc(2 * var(--u));
    background-color: var(--drey);
    margin: calc(var(--u) / 2);
   /* position: fixed;
    bottom: var(--u);
    left: var(--u);*/
    font-size: 1.5rem;
    font-family: serif;
    border-radius: var(--brd);
    border: none;
    box-shadow: 0 0 15px black;
}

#footer {
    /*
    position: fixed;
    bottom: 0;*/
    width: 100%;
    background-color: var(--drey);
    box-shadow: 0 0 15px black;
    border-top-left-radius: var(--brd);
    border-top-right-radius: var(--brd);

    overflow: hidden;
    transition:height 0.3s ease-in-out;
    height: auto;
}

.footer-pad {
    padding: var(--u);
}

#footer h3 {
    margin-bottom: var(--u);
}

#footer ul li {
    margin-bottom: calc(var(--u) / 2);
}

/* desktop 
@media screen and (min-width: 700px) {
    
}*/

@media only screen and (min-width: 700px) {
    #main-cont {
        margin: calc(2 * var(--u));
        width: calc(100% - 4 * var(--u));
        max-width: 1000px;
    }
}